// Text & Icons
$text_primary_gray: rgba(255, 255, 255, 0.8);
$text_primary_black: rgb(1, 6, 38);
$text_primary_white: #fff;
$text_primary_blue: rgb(20, 105, 217);
$text_focus_blue: rgb(20, 105, 217);
$text_placeholder_gray: rgba(255, 255, 255, 0.6);
$text_header_gray: rgba(255, 255, 255, 0.5);

//Backgrounds & Borders
$background_primary_white: #fff;
$background_primary_dark: rgb(1, 6, 38);
$background_primary_gray: #dfe1ea;
$background_primary_darkBlue: rgba(0, 13, 69, 0.7);
$background_primary_blue: rgb(0, 71, 255);
$background_disabled_gray: rgba(255, 255, 255, 0.6);
$background_form_blue: rgba(20, 105, 217, 0.3);

$border_default_gray: rgba(255, 255, 255, 0.8);
$border_hover_gray: rgb(255, 255, 255);
$border_focus_blue: rgb(20, 105, 217);
$border_fill_gray: rgb(105, 108, 128);
$border_primary_blue: rgb(20, 105, 217);
$border_header_gray: rgba(255, 255, 255, 0.2);
