$font-size: (
  XS: 12px,
  S: 14px,
  M: 16px,
  XL: 18px,
  XXL: 20px,
  XXXL: 24px,
  XXXXL: 32px,
  XXXXXL: 40px,
);

$line-height: (
  XS: 12px,
  S: 14px,
  M: 16px,
  XL: 20px,
  XXL: 24px,
  XXXL: 28px,
  XXXXL: 36px,
  XXXXXL: 64px,
);

$font-weight: (
  R: 400,
  M: 500,
  SB: 600,
  B: 700,
  H: 900,
);
